body {
background-image: url("woodwall.jpg");
}
body {
margin-right: 25px;
    margin-left: 25px;
}
#nav {
border-bottom: 6px solid blue;
background-color: lightgrey;
}
body {
    font-family: 'Press Start 2P', cursive;
}
body {
font-size: small;
}
#dis {
border-style: double;
}